*:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

*button:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

* {
    list-style-type: none;
    font-family: $font-default;
    font-size: 16px;

    &:focus,
    &:active {
        outline: none !important;
    }
}

*::selection {
    color: #ffffff;
    background-color: var(--accent-color);
}

*a,
a:visited {
    color: var(--accent-color);
    text-decoration: none;
}

body {
    font-family: font-default !important;
    color: var(--text-color);
    background-color: #F7F8FB;
    overscroll-behavior: none;
    height: 100vh;

}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}
// Kanban view activity (clock) icon color override
.o_kanban_record .o-mail-ActivityButton i,
.o_kanban_record .o-mail-ActivityButton,
.o_kanban_record .o_activity_btn i,
.o_kanban_record .o_activity_btn,
.o_kanban_record_bottom .fa-clock-o {
    color: var(--accent-color) !important;
}

.o_home_menu_background, body.o_home_menu_active {
    background-color: var(--primary-dark) !important;
    background: var(--bg-gradient) !important;
}
