$font-default: "League Spartan", sans-serif;






// Color


:root {
    --primary-color: #2E6DA4; // Light Blue
    --secondary-color: #5A6B7A;
    --danger-color: #DA291C;

    --primary-dark: #14314D; // Dark Blue
    --bg-gradient: linear-gradient(135deg, #6FA0C4 0%, #2E6DA4 50%, #14314D 100%);
    --accent-color: #3C8FC7;
    --text-color: #425563;
    --white-color: #ffff;
    --grey-color: #D8DDE0;
    --dark: #212B32;
}