$font-default: "League Spartan", sans-serif;






// Color


:root {
    --primary-color: #005EB8;
    --secondary-color: #768692;
    --danger-color: #DA291C;

    --nhs-dark-blue: #003087;
    --text-blue: #0072CE;
    --text-color: #425563;
    --white-color: #ffff;
    --grey-color: #D8DDE0;
    --dark: #212B32;
}