.class0 {
    --widget-accent:  #ffffff;
}

.class1 {
    --widget-accent:  #ff9c9c;
}

.class2 {
    --widget-accent:  #f7c698;
}

.class3 {
    --widget-accent:  #fde388;
}

.class4 {
    --widget-accent:  #bbd7f8;
}

.class5 {
    --widget-accent:  #d9a8cc;
}

.class6 {
    --widget-accent:  #f8d6c8;
}

.class7 {
    --widget-accent:  #89e1db;
}

.class8 {
    --widget-accent:  #97a6f9;
}

.class9 {
    --widget-accent:  #ff9ecc;
}

.class10 {
    --widget-accent:  #b7edbe;
}

.class11 {
    --widget-accent:  #e6dbfc;
}